absl-py
aiohappyeyeballs
aiohttp
aioice
aiortc
aiosignal
altair
annotated-types
anyio
asgiref
asttokens
attrs
av
backcall
backoff
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
contourpy
crispy-bootstrap5
cryptography
cycler
decorator
defusedxml
distlib
distro
Django
django-ckeditor
django-crispy-forms
django-environ
django-filter
django-js-asset
django-tinymce
django-widget-tweaks
djangorestframework
dnspython
docopt
EasyProcess
entrypoint2
et-xmlfile
executing
fastjsonschema
filelock
Flask
flatbuffers
folium
fonttools
frozenlist
fsspec
future
geocoder
gitdb
GitPython
google-crc32c
gunicorn
h11
httpcore
httpx
huggingface-hub
idna
ifaddr
imbalanced-learn
imblearn
immutabledict
ipython
itsdangerous
jax
jaxlib
jedi
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keras
kiwisolver
lightgbm
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
ml-dtypes
MouseInfo
mpmath
mss
multidict
nbclient
nbconvert
nbformat
networkx
numpy
openai
opencage
opencv-contrib-python
opencv-python
openpyxl
opt-einsum
ortools
packaging
pandas
pandocfilters
parso
phonenumbers
pickleshare
pillow
pipreqs
platformdirs
prompt_toolkit
protobuf
psutil
pure-eval
pyarrow
PyAudio
PyAutoGUI
pycaw
pycparser
pydantic
pydantic_core
pydeck
pyee
PyGetWindow
Pygments
pyjokes
pylibsrtp
PyMsgBox
pyOpenSSL

python-dateutil
pyttsx3
pytweening
ratelim
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
screen-brightness-control
seaborn
six
smmap
sniffio
sounddevice
soupsieve
SpeechRecognition
sqlparse
stack-data
streamlit
streamlit-webrtc
sympy
tenacity
threadpoolctl
tinycss2
tk
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
virtualenv
watchdog
wcwidth
webencodings
Werkzeug
wget
wikipedia
WMI
xgboost
xlrd
xlutils
xlwt
xyzservices
yarg
yarl
